/* Font setup */
body {
  /*background: url('/wall.jpg');*/ /* or adjust if it's in a subfolder */
  background: url("/public/marble.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
}


/* Headings – make them feel elegant and museum-like */
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: #2e2e2e;
  margin-bottom: 1rem;
}

a {
  color: #5a3d9a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
